:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-grey-color: #f5f4fa;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.list {
  margin: 0px;
  padding: 0px;
}
/* HEADER */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  outline: 2px solid tomato;
}

/*Навигация*/

.main-nav {
  display: flex;
  align-items: center;
}
.site-nav.list {
  display: flex;
  margin-left: 85px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .current {
  color: var(--accent-color);
}

/*Контакты*/
.site-cont .address {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-cont.list {
  margin-left: auto;
  display: flex;
}
.site-cont .item + .item {
  margin-left: 30px;
}
.site-cont .address:hover,
.site-cont .address:focus {
  color: var(--accent-color);
}
/* WEB STUDIO CSS */

/* БЛОК ГЕРОЙ */
.banner {
  text-align: center;
}
.banner-title {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.banner-btn {
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/*Особенности и сервис*/
.feature-section {
  margin-bottom: 94px;
}
.feature.list .title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature.list p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.feature-list .text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.feature {
  display: flex;
}

.wwd-section .section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.wwd-section .subtitle {
  margin-top: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.service.list {
  display: flex;
}
.service-item {
  margin-right: 30px;
}

/*Команда*/

.team.list {
  display: flex;
}
.team-links {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.team-card:not(:last-child) {
  margin-right: 30px;
}
.team-member {
  margin-top: 0px;
  margin-bottom: 30px;
}
.team-section {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: var(--secondary-grey-color);
}
.team-section .section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.subtitle {
  margin-top: 0px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}
.team-section .text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 16px;
}

/* ПОСТОЯННЫЕ КЛИЕНТЫ */
.partners-section .list {
  display: flex;
}
.partners-section .section-title {
  margin-bottom: 50px;
}
.partners-section .item {
  width: 170px;
  outline: 2px solid red;
}
.partners-section .item:not(:last-child) {
  margin-right: 30px;
}

.partners-section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.partners-section .section-title {
  margin-top: 0px;
  margin-bottom: 50px;
}

/* PORTFOLIO CSS */
.filter .btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.filter .btn:hover,
.filter .btn:focus {
  color: var(--accent-color);
}
.filter-item .title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.filter-item .filter-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.filter-item .text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* FOOTER */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.footer .title {
  background-color: #2f303a;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer .footer-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.footer .footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.bottom {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}
